.item {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  border: 1px solid rgba(173, 173, 173, 0.454);
  padding: 1rem;
  gap: 0.5rem;
  align-items: flex-start;
  min-width:275px;
  label, h3{
    font-family: geom-graphic, sans-serif;
  }
  p{
    font-family: t26-carbon, monospace;
    font-size:1.4rem;
    color: var(--primary-dark);
    span{
        font-size:1rem;
        margin-inline-end:8px;
    }
  }
  .imageWrapper{
    align-items:center;
    border-radius:8px;
    display:flex;
    justify-content:center;
    overflow:hidden;
    background-color:rgba(0, 0, 0, 0.075);
    height:250px;
    width:100%;
  }
}

@media only screen and (max-width: 600px) {
  .item{
    min-width:auto;
  }
}
