.search {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px 0px 12px;
  max-width: 220px;
  position:relative;
  input {
    border: none;
    outline:none;
    padding: 8px;
  }
  .results{
    position:absolute;
    top:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    background-color:white;
    max-height:200px;
    overflow-y:scroll;
    li{
      text-align:left;
    }
    a{
      padding:1rem;
      border-bottom:1px solid rgba(128, 128, 128, 0.152);
      font-size:1rem !important;
      text-decoration:none;
      color:black;
    }
    a:hover{
      transition-duration:0.5s;
      background-color:rgba(128, 128, 128, 0.152);
      color:var(--primary-color);
    }
  }
}
